<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Некич</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/normalize.css}">
    <link rel="stylesheet" th:href="@{/styles/nav_teacher.css}">
    <link rel="stylesheet" th:href="@{/styles/lesson_teacher.css}">
    <script th:src="@{/scripts/lesson_teacher.js}" defer></script>
    <script th:src="@{/scripts/nav.js}" defer></script>
</head>
<body>
<nav th:insert="nav::teacher_nav"></nav>
<main class="main">
    <div class="main__title title">
        <p class="title__title">Название темы:</p>
        <input type="text" class="title__text">
    </div>
    <div class="main__page page"></div>
    <!--    <form action="/upload" method="post" encType="multipart/form-data">-->
    <!--        <input type="file" name="image" accept="image/*">-->
    <!--        <input type="submit" value="Upload">-->
    <!--    </form>-->

    <div class="main__buttons button">
        <button class="button__button" onclick="addImage()">+ изображение</button>
        <button class="button__button" onclick="addContent()">+ содержание</button>
        <button class="button__button" onclick="addFormula()">+ формула</button>
        <button class="button__button" onclick="addFact()">+ факт</button>
        <button class="button__button center" onclick="save()">Сохранить</button>
    </div>
</main>
</body>
</html>