<nav class="navbar" th:fragment="teacher_nav">
    <div class="navbar__wrapper">
        <div class="navbar__item dropdown">
            <a target="_blank" href="#" class="dropdown__title">Химия</a>
            <div class="dropdown__list dropdown--hidden">
                <div class="dropdown__item"><a href="#">7</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">8</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">9</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">10</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">11</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar__item dropdown">
            <a target="_blank" href="#" class="dropdown__title">Биология</a>
            <div class="dropdown__list dropdown--hidden">
                <div class="dropdown__item"><a href="#">6</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">7</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">8</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">9</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">10</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
                <div class="dropdown__item"><a href="#">11</a>
                    <div class="dropdown__subitem dropdown--hidden">
                        <div class="dropdown__item item"><a class="item__href" href="#">Уроки</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Задания</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Практические</a></div>
                        <div class="dropdown__item item"><a class="item__href" href="#">Контрольные</a></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="navbar__enterBtn">Войти</button>
    </div>
</nav>