<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
    <link rel="stylesheet" th:href="@{/styles/normalize.css}">
    <link rel="stylesheet" th:href="@{/styles/nav.css}">
    <link rel="stylesheet" th:href="@{/styles/test.css}">
    <script th:src="@{/scripts/test.js}" defer></script>
</head>
<body>
<nav th:insert="student_nav::student_nav"></nav>
<main class="main">
    <div class="main__block block">
        <div class="block__card card">
            <p class="card__question_number"></p>
            <p class="card__question_caption"></p>
            <div class="card__questions questions"></div>
            <button class="card__button" onclick="next()">Далее</button>
        </div>
    </div>
</main>
</body>
</html>